@import "../../variables.scss";

.arrow {
    position: absolute;
    top: 40px;
    right: 40px;
    color: $main-light;
    font-size: 36px;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        color: white;
        filter: drop-shadow(0 0 10px white);
    }
}