@import "../../../variables.scss";
@import "../../../utilities.scss";

.container {
    @include componentFullSize;
    background-color: $main-dark;
    color: $main-light;
}

.desc {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: $montserrat;
    font-size: 36px;
    font-weight: 100;
}