@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin componentFullSize {
    position: absolute;
    top: 0;
    left: 0;

    min-height: 100vh;
    min-width: 100vw;
}